<div class="container-fluid">
  <div class="btn-group" data-toggle="buttons" *ngFor="let type of ft_keys">
    <label class="btn-outline-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filter_types[type]"> {{type}}
    </label>
  </div>
  <div class="row">
    <ng-container *ngFor="let image of image_data; let id = index">
      <app-image-select *ngIf="filter_types[image.type]" class="col-sm-3 gridbox" [image_data]="image" [id]="id"></app-image-select>
    </ng-container>
  </div>
</div>
