[type=checkbox] { display:none;}

/* Give grid boxes a border and remove content padding */
.gridbox {
  border: 1px solid lightgray;
  padding: 0px;
}

.filter-label {
  background-color: lightblue;
  display: inline;
}

.zoom-toggle {
  display: none;
}

/* Don't display zoom toggle for devices without hover capability */
@media (hover: hover) {
  .zoom-toggle {
    display: inline;
  }
}
