<div class="image-grid container-fluid">
  <div class="toggle-group">
    <span class="toggle-label zoom-toggle">Zoom
      <switch (statusChange)="zoom_enabled = !zoom_enabled"></switch>
    </span>
    <span>Filter images:</span>
    <ng-container *ngFor="let type of ft_keys">
      <span class="toggle-label">{{type}}
        <switch [status]="true" (statusChange)="filter_types[type] = !filter_types[type]"></switch>
      </span>
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let image of image_data; let id = index">
      <app-image-select *ngIf="filter_types[image.type]" class="col-sm-3 gridbox" [id]="id" [ngClass]="{'img-zoom': zoom_enabled}"></app-image-select>
    </ng-container>
  </div>
</div>
