/* Disable checkbox indicator */
input[type="checkbox"] {
  display: none;
}

img {
  cursor: pointer;
  border: 5px solid transparent;
}

input[type="checkbox"]:checked + label:before {
  background-color: blue;
  color: white;
  /* tick-mark */
  content: '\2713';
  position: absolute;
  margin: 5px;
  font-size: 30px;
}

input[type="checkbox"]:checked + label img {
  border: 5px solid #00f;
  display: inline-block;
}

img {
  vertical-align: middle;
  position: relative;
}

/* Remove bottom margin added by bootstrap to all labels */
label {
  margin: 0px;
}
