/* Disable checkbox indicator */
input[type="checkbox"] {
  display: none;
}

/* Remove bottom margin added by bootstrap to all labels */
label {
  margin: 0px;
}


img {
  cursor: pointer;
  border: 5px solid transparent;
  vertical-align: middle;
  position: relative;
  display: block;
}

/* When active, solid blue border */
.active img {
  border: 5px solid blue;
}

.checkmark {
  display: none;
  position: absolute;
  background-color: blue;
  color: white;
  position: absolute;
  top: 0px;
  margin: 5px;
  font-size: 30px;
}

/* Enable checkmark display when active */
.active .checkmark {
  display: block;
}
