<div class="modal-header">
  <h3 class="modal-title">Welcome to Beedentify</h3>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>Beedentify is designed to help you work out what type of bees or wasps you have in your home or garden,
  and provide you with information on what can be done about them if they are causing you a problem.</p>

  <h5>Instructions</h5>
  <ol>
  <li>
    Please click one or more images which match what you are currently seeing.<br/>
    You should select at least <strong>2</strong> images, and preferably <strong>3</strong> for better identification.
  </li>
  <li>As you select images, the <strong>Results</strong> section will update.</li>
  <li>Once <em>more than</em> <strong>50%</strong> of the images you have selected match for a particular insect,
  a popup with more information on that insect will appear.<br/>
  <em>(Alternatively, you can click on each insect name in the Possible Matches for more information, if you don't get
  an exact match after making several selections).</em></li>
  </ol>
  <p>You can turn on zooming for more detail, and filter various categories of image on and off.</p>
  <p><em>Note: The images have been chosen to closely match these insects and their nesting sites,
  and identifications are usually accurate. However, we would always recommend consulting with an expert,
  especially before undertaking any work.</em></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
